keystore.properties
build.jks

easycontrolnext/*.iml
easycontrolnext/.gradle
easycontrolnext/.idea
easycontrolnext/local.properties

easycontrolnext/build
easycontrolnext/app/build
easycontrolnext/app/.gradle
easycontrolnext/app/debug
easycontrolnext/app/build
easycontrolnext/app/release
easycontrolnext/app/src/main/res/raw/easycontrolnext_server.jar

easycontrolnext/server/build
easycontrolnext/server/.gradle

